body{
 height: 100%;
 width: 100%;
 overflow: hidden;
  background-color: #DDD;
}

#banner{
 text-align: center;
 font-family: cursive;
 color: #DDD;
}

/*registration box*/
.input{
 position: absolute;
 display: inline-block; 
 margin: auto;
 background-color: #EEE;
}

.input-reg{
 height: 40%;
 width: 25%;
 top: 20%;
 left: 30%;
}

.input-si{
 height: 30%;
 width: 20%;
 top: 25%;
 left: 60%;
}

/*statement at top of reg box*/
#intro{
 position: relative;
 text-align: center;
 margin: 10%; 
}

/*center nav options*/
.justified {
  position:absolute;
  left:45%;
}

/*reg box input*/
.reg-ii{
 height: 10%;
 width: 90%;
 font-size: 16px;
 font-family: cursive;
 line-height: 18px;
}

/*note removal icon*/
#remove{
 position: relative;
 float: right;
}

/*sign in wrapper*/
.si{
 position: relative;
 margin: 5% 0 0 10%;
}

/*sign-in input*/
.si-i{
 display: inline-block;
 margin: 20px;
}
/*sign out*/
#so{
 position: relative;
 float right;
}

/*div wrapper element for input*/
.wrap-i{
 position: relative;
 display: block;
 margin: 10%;
}
