<doctype! html>
<html ng-app="postMe">
  {% extends "bootstrap/base.html" %}
  {% block title %}postMe{% endblock %}
  <head>
     {{super()}}
     <link rel="shortcut icon" href="{{url_for('static', filename='me.jpg')}}">
  	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="{{url_for('static', filename='app.css')}}">
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
  </head>
  
  <body>
  
  </body>
</html>