<!DOCTYPE html>
<html>
  {% extends 'boiler.html' %}
	{% block content %}
  
    <div class="navbar navbar-fixed-top navbar-inverse">
      <h3 id="banner">Welcome to PostMe</h3>
    </div> 

		<div class="login-wrap">
      <div class="reg-wrap-i">
        <p>Sign Up Now and Start Posting!</p>
  			<form action="{{url_for('reg')}}" method="POST">
          <div class="form-group">
            <label for="regUsername">Username</label>
            <input type="text" class="form-control reg-ii" id="regUsername" name="username">
          </div>
          <div class="form-group">
            <label for="regEmail">Email address</label>
            <input type="email" class="form-control reg-ii" id="regEmail" name="email_addr">
          </div>
          <div class="form-group">
            <label for="regPass">Password</label>
            <input type="password" class="form-control reg-ii" id="regPass" name="password">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
      <div id="si-wrap">
        <p>Already Have an Account? Sign In!</p>
        <form action="{{url_for('sign_in')}}" method="POST">
           <div class="form-group">
              <label for="regUsername" style="color: #FFF;">Username</label>
              <input type="text" class="form-control si" id="regUsername" name="username">
           </div>
           <div class="form-group">
              <label for="regPass" style="color: #FFF;">Password</label>
              <input type="password" class="form-control si" id="regPass" name="password">
           </div>
           <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
		</div>
	{% endblock %}
  
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  
<html>
