<div class="navbar navbar-fixed-top navbar-inverse">
  <ul class="nav nav-tabs justified">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#/profile" role="button" aria-haspopup="true" aria-expanded="false">
        Settings <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="http://sae.magnusb.net/sign_in" ng-submit=clear()>Sign Out</a></li>
        <li><a href="" ng-submit=delete_account()>Delete Account</a></li>
      </ul>
    </li>
  </ul>
</div>