<!DOCTYPE html>
<html>
  {% extends 'boiler.html' %}
	
	{% block content %}
     {% block navbar %}
      <div class="navbar navbar-fixed-top navbar-inverse">
        <ul class="nav nav-tabs justified">
           <li role="presentation" class="active"><a href="">Home</a></li>
           <li role="presentation"><a href="">Friends</a></li>
           <li role="presentation"><a href="{{url_for('logout')}}">Sign Out</a></li>
        </ul>
      </div>
    {% endblock %}
	
		<div class="feed">
			{% for note in notes %}
				<div class="note">
					<a href ="{{url_for('remove_note', username=user, content=note.content)}}" method="POST"><i class="fa fa-trash-o fa-2x" id="remove"></i></a>
					{{ note.content }}
				</div>
			{% endfor %}
		</div>
	{% endblock %}
<html>

